<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="Phychips.PR9200.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <Phychips.PR9200.Properties.Settings>
            <setting name="max_tag" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="max_time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="repeat_cycle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uiX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uiY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uiHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="uiWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value/>
            </setting>
            <setting name="speakerBeep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="displayRSSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="readAfterPlugging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="encodingType" serializeAs="String">
                <value>0</value>
            </setting>
        </Phychips.PR9200.Properties.Settings>
    </userSettings>
</configuration>
